a {
    text-decoration: none;
}

.listing_container_header .container {
    max-width: 1440px;
}

.listing_container_header {
    padding: 3.5rem 1.5rem 1.5rem;
    background-color: #000;
}

.exploring_wepper {
    color: #fff;
}

.exploring_wepper p {
    margin: 0;
    font-size: 16px;
}

.exploring_wepper h2 {
    margin: 0;
    font-size: 18px;
}

.sort_btn a {
    background-color: #fff;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 40px;
}

.sort_btn .popular {
    text-transform: capitalize;
    margin-left: -4px;
    background: transparent;
    color: #fff;
    border: solid 1px gray;
    padding: 4px 10px;
    width: 53%;
    text-align: left;
}

.barss_icon {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.barss_icon span {
    font-size: 16px;
    display: flex;
    color: #fff;
    align-items: center;
}

.barss_icon i {
    cursor: pointer;
    margin-right: 8px;
}

.barss_icon p {
    margin: 0;
    margin-left: 8px;
}

.product_wepper {
    position: relative;
    margin-bottom: 20px;
}

.product_wepper::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(0deg, #000 10%, #181818 30%, rgba(48, 48, 48, .549) 60%, hsla(0, 0%, 63%, .12) 85%, transparent);
    height: 5.2rem;
    opacity: .65;
}

.content_category {
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content_category span {
    color: #fff;
    font-size: 12px;
}

.content_category del {
    color: gray;
    font-size: 10px;
}

.content_category p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}

.content_btn {
    position: absolute;
    bottom: 40px;
    right: -14px;
}

.content_btn a {
    background: black;
    color: white;
    padding: 5px 30px;
    display: inline-block;
}

.content_icon {
    position: absolute;
    top: 0;
}

.content_icon {
    position: absolute;
    top: 10px;
    right: 0;
}

.content_icon i {
    font-size: 22px;
    color: gray;
    cursor: pointer;
}

.product_wepper img{
    width: 100%;
    /* height: 350px; */
}
.content_icon{
        right: 10px;
    }

@media (max-width:560px) {
    .listing_container_header {
        padding: 0;
    }

    .sort_btn .popular {
        display: block;
        width: 100%;
    }

    .sort_btn a {
        display: block;
        margin-bottom: 10px;
        text-align: start;
    }

    .exploring_wepper p {
        margin-top: 10px
    }

    .exploring_wepper h2 {
        margin-bottom: 10px
    }
    .content_btn{
        right: 0;
    }
  
}