.forgotpassword {
    background-image: url('../../../../public/images/banner.png');
    height: 1000px;
}

.forgotpassword .form-outline input:focus {
    outline: none;
    box-shadow: none;
}

.forgotpassword .form-control {
    background-color: transparent;
    color: #fff;
    border-radius: 50px;
    height: 45px !important;
 padding-left: 20px;
 border: 1px solid #ffffffa1;
}

.forgotpassword input::placeholder {
    color: #ffffffa8;
}

.forgotpassword .userloginform h4 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.forgotpassword .userloginform {
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #D5C36B, #8B5E20) 1;
    padding: 40px 30px; 
    border-radius: 10px;
}

.user-loginbtn button {
    background-color: transparent;
    border:1px solid #d7b871;
    border-radius: 50px;
    width: 100%;
    color: #fff;
    height: 45px;
}


